.nav{
    float: left;
    width: 10rem;
    margin: 3rem 0 0 3rem 
}
h3{
    margin-top: 1rem;
    color: black;
    font-weight: bold;
}
.nav_span{
    color: blue;
    font-weight: bold;
}
.nav_div{
    display: flex;
    flex-direction: column;
    color: black;
    margin-top: 1rem;
    
}
.nav_div > button{
    border: 0;
    background-color: transparent;
    margin-top: 1rem;
    text-align: left;
}
.nav_div > p {
    font-weight: bold;
    font-size: 1.2em;
}