.btn {
  background-color: black;
  width: 100%;
  padding: 2%;
}
.singupinput {
  width: 100%;
  border: 1px solid gray;
  margin-bottom: 5%;
  padding: 1.5%;
}
.error {
  border: 1px solid red;
  width: 100%;
  margin-bottom: 5%;
  padding: 1.5%;
}
.errormessage {
  width: 100%;
  text-align: center;
  color: red;
  font-size: 1vmax;
}
