
.ul{
    color: black;
    display: flex;
    list-style: none;
    width: 100%;
    border-bottom: 1px solid gray;
    float: right;
    position: sticky;
    justify-content: flex-start;
    
    

}
.underbutton{
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    background-color: white;
    
    padding-left: 10%;
    width: 200%;
    cursor: pointer;
    
}
.underbutton:hover{
    background-color: black;
    color: white;
}

.lies{
    text-decoration: none;
    
    color: black;
    font-size: 110%;
    margin-left: 8%;
    color: black;
    
    
  


}
.no-underline {
    text-decoration: none;
  }

