.slider{
    margin-top: 4%;
    display: flex;
   
    
   
}
.div{
    display: flex;
}
.img{
    margin-bottom: 3%;
    display: flex;
   
 

}

.button {
    margin-top: 1.5%;
    display: flex;
    width: 100%;
    justify-content: center;
}
.Slidershow{
   
    border-bottom: 1px solid gray;
}


