
.rankingdiv{
    border-bottom: 1px solid black;
    height: 25vmax;
    width: 10vmax;
}
.title{
    width: 100%;
    text-align: center;
}

.button{
    border: none;
    margin: 5%;
    display: block;
    background-color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 2vmax;
   
   
   
}
/* ul 요소에 flex 속성을 추가하여 버튼이 가로로 나열되도록 설정합니다. */
.ui {
    display: flex;
   
    
    list-style: none; /* 리스트 마커를 숨깁니다. */
    padding: 0; /* 리스트의 내부 간격을 제거합니다. */
    flex-direction: row;
  }
  
  /* 각 버튼 요소에 스타일을 추가합니다. */

.button_hover{
    border: none;
   
    
    display: block;
    background-color: white;
    border: none;
    
    width: 100%;
    height: 2vmax;
    
    font-weight: bold;
}

