.Livediv{
    border-bottom: 1px solid black;
}
.Rankgingdiv{
    border-left: 1px solid gray;
    width: 100%;
    border-bottom: 1px solid black;
    
    text-align: center;
}


.title{
    width: 100%;
    text-align: center;
}

button{
   margin-left: 10%;
   margin-right: 10%;
}

