.slider{
    margin-top: 4%;
    display: flex;
   
    
   
}
.div{
    display: flex;
}
.img{
    display: flex;
   
 

}

.button {
    margin-top: 1.5%;
    display: flex;
    width: 100%;
    justify-content: center;
}



