Link{
    margin: 10%;
}
.card{
    width: 80%;
    
   
}
.cardul{
    display: flex;
    width:25vmax;
    margin-left: 0.5%;
    width: 100%;
   
    

}
.card{
    margin-left: 2%;
    margin-right: 2%;
    
    margin-top: 3%;
   
  
}
.Img {
    width: 100%;
    height: 60%;
   
}


.title{
    width: 100%;
    text-align: center;
}
